/* themes */
:root {
  --primary: #000000;
  /* (0, 0, 0) */
  --secondary: #8f8f8f;
  /* (143,143,143) */
  --tertiary: #1976d2;
  /* (25, 118, 210) */
  --dark: #222222;
  /* (34,34,34) */
  --light: #f7f7f7;
  /* (247, 247, 247) */
  --warning: #f39c12;
  /* (243, 156, 18) */
  --danger: #ff1900;
  /* (255, 25, 0) */
  --react: #61DAFB;
  /* (97, 218, 251) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Arsenal', sans-serif;
}

nav,
footer {
  width: 100%;
  padding: 20px;
}

/* ------ light-mode ------ */

.light-mode,
.light-mode a {
  background-color: var(--light);
  color: var(--dark);
  transition: all 1s ease;
}

.light-mode nav {
  background-color: var(--dark);
  color: var(--light);
  background-image: url('./assets/images/light.gif');
  background-size: cover;
  transition: all 1s ease;
}

.light-mode footer {
  background-image: url('./assets/images/light-bottom.png');
  background-size: cover;
  text-align: end;
  font-weight: bold;
}

/* ------ dark-mode ------ */

.dark-mode,
.dark-mode a {
  background-color: var(--dark);
  color: var(--light);
  transition: all 1s ease;
}

.dark-mode nav {
  background-color: var(--light);
  color: var(--dark);
  background-image: url('./assets/images/dark.gif');
  background-size: cover;
  transition: all 1s ease;
}

.dark-mode footer {
  background-image: url('./assets/images/dark-bottom.png');
  background-size: cover;
  text-align: end;
  font-weight: bold;
}

.light-mode a.social-media {
  background-color: none !important;
}

.dark-mode button {
  background-color: none;
  color: var(--light);
  transition: all 1s ease;
}

.search-dark label, .search-dark input {
  color: var(--light) !important;
  transition: all 1s ease;
}

button.arrow-left-dark,
button.arrow-right-dark {
  color: var(--light) !important;
  transition: all 1s ease;
}

/* ---------------------------------------------------------- */

.all-container {
  margin: 1em 1em;
}

.logo {
  width: 1em;
  height: auto;
}

.arrows {
  display: flex;
  margin-bottom: 1em;
}

button.arrow-left-light,
button.arrow-right-light,
button.arrow-left-dark,
button.arrow-right-dark {
  font-size: 1.2em;
  border: none !important;
  background: none !important;
  cursor: pointer;
  margin: 0 0.5em !important;
  font-weight: bolder;
  font-size: 2em;
}

.avatar {
  margin: 0 1em 0 2em;
  outline: 1px solid var(--secondary);
  background-color: none !important;
}

.avatar button {
  background-color: none !important;
  background: none !important;
}

.avatar:hover {
  transform: scale(1.05);
}

.avatar-pics {
  display: flex;
  flex-direction: column;
}

.avatar-pic {
  margin: 2em 0.5em 0 0.5em;
  outline: 1px solid var(--secondary);
}

.avatar-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.row1,
.row2 {
  display: flex;
  justify-content: center;
}

.icon {
  width: 2.5em;
  height: auto;
  margin: 0 0 0 0.5em;
}

.light-basic-modal,
.dark-basic-modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--secondary);
  padding: 2em;
  width: 80%;
}

.light-basic-modal h3,
.dark-basic-modal h3 {
  position: sticky;
  left: 0;
}

.light-basic-modal {
  background-color: var(--light);
  color: var(--dark);
}

.dark-basic-modal {
  background-color: var(--dark);
  color: var(--light);
}

.button-container {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
}

.button-container p {
  align-self: center;
  font-size: 1.2em;
}

.button-container span {
  align-self: center;
  font-size: 1.2em;
}

.choice span {
  font-size: 1em;
}

.content {
  display: inline-flex;
  padding: 0.5em;
  margin: 1em 1em;
  font-size: 1.1rem;
  line-height: 1.1;
}

canvas.donut-chart {
  width: 30em !important;
  height: auto !important;
}

.first-line {
  margin-top: 2em !important;
}

.last-line {
  margin-bottom: 2em !important;
}

.paragraph {
  padding: 0.5em 0;
}

img.logo {
  width: 5em;
  height: auto;
}

img.logo:hover {
  transform: scale(1.05);
}

.link-logo {
  margin-left: 1em;
}

.main {
  margin: 1em 1em 1em 3em;
  padding: 2em;
  border: 2px solid var(--secondary);
  width: 75vw;
}

.movie-genre,
.movie-country,
.movie-year {
  background-color: var(--light);
  color: var(--dark);
  width: 16em;
  margin: 1em 2em 0 0;
}

.movie-container {
  display: flex;
}

.movie-search {
  margin: 4em 0 2em 0;
}

.movie-search div {
  background-color: white !important;
}

.text-search, .text-search input, .text-search::before, .text-search::after {
  color: var(--dark) !important;
  width: 25em;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: none !important;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid var(--tertiary) !important;
}

.sidebar {
  line-height: 3em;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
}

/* --------------------- table --------------------- */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 4em 0 2em 0;
}

thead tr th {
  text-align: left;
  border-bottom: 2px solid var(--secondary);
}

thead button {
  border: 0;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em;
  margin-bottom: 1px;
  background: none !important;
}

thead button:hover {
  cursor: pointer;
}

thead button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: .5em;
}

thead button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: .5em;
}

tbody td {
  padding: 0.6em;
  border-bottom: 1px solid var(--secondary);
  font-size: 16px;
}

tbody tr:hover {
  background-color: rgba(143, 143, 143, 0.2);
}

/* --------------------- media queries --------------------- */

@media only screen and (max-width: 1380px) {

  .light-basic-modal,
  .dark-basic-modal {
    overflow-x: scroll;
    display: inline-grid;
  }

  .movie-container {
    display: flex;
    flex-direction: column;
  }
}

/* --------------------- keyframes --------------------- */