/* themes */
:root {
  --primary: #000000;
  /* (0, 0, 0) */
  --secondary: #8f8f8f;
  /* (143,143,143) */
  --tertiary: #1976d2;
  /* (25, 118, 210) */
  --dark: #222222;
  /* (34,34,34) */
  --light: #f7f7f7;
  /* (247, 247, 247) */
  --warning: #f39c12;
  /* (243, 156, 18) */
  --danger: #ff1900;
  /* (255, 25, 0) */
  --react: #61dafb;
  /* (97, 218, 251) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Arsenal', sans-serif;
}

nav,
footer {
  width: 100%;
  padding: 20px;
}

/* --------------------------------------- light-mode --------------------------------------- */

.light-mode {
  background-color: var(--light);
  color: var(--dark);
  transition: all 1s ease;
}

.light-mode {
  a {
    background-color: var(--light);
    color: var(--dark);
    transition: all 1s ease;
  }
  nav {
    background-color: var(--dark);
    color: var(--light);
    background-image: url('./assets/images/light.gif');
    background-size: cover;
    transition: all 1s ease;
  }
  footer {
    background-image: url('./assets/images/light-bottom.png');
    background-size: cover;
    text-align: end;
    font-weight: bold;
  }
}

/* --------------------------------------- dark-mode --------------------------------------- */

.dark-mode,
.dark-mode a,
.darkmode p {
  background-color: var(--dark);
  color: var(--light);
  transition: all 1s ease;
}

.dark-mode {
  button {
    background-color: none;
    color: var(--light);
    transition: all 1s ease;
  }
  nav {
    background-color: var(--light);
    color: var(--dark);
    background-image: url('./assets/images/dark.gif');
    background-size: cover;
    transition: all 1s ease;
  }
  footer {
    background-image: url('./assets/images/dark-bottom.png');
    background-size: cover;
    text-align: end;
    font-weight: bold;
  }
}

.light-mode a.social-media {
  background-color: none !important;
}

.search-dark label,
.search-dark input {
  color: var(--light) !important;
  transition: all 1s ease;
}

button.arrow-left-dark,
button.arrow-right-dark {
  color: var(--light) !important;
  transition: all 1s ease;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.all-container {
  margin: 1em 1em;
}

.logo {
  width: 1em;
  height: auto;
}

.arrows {
  display: flex;
  margin-bottom: 1em;
}

button.arrow-left-light,
button.arrow-right-light,
button.arrow-left-dark,
button.arrow-right-dark {
  font-size: 1.2em;
  border: none !important;
  background: none !important;
  cursor: pointer;
  margin: 0 0.5em !important;
  font-weight: bolder;
  font-size: 2em;
}

.avatar {
  margin: 0 1em 0 2em;
  outline: 1px solid var(--secondary);
  background-color: none !important;
  button {
    background-color: none !important;
    background: none !important;
  }
  :hover {
    transform: scale(1.05);
  }
}

.avatar-pics {
  display: flex;
  flex-direction: column;
}

.avatar-pic {
  margin: 2em 0.5em 0 0.5em;
  outline: 1px solid var(--secondary);
  :hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.counter-value {
  margin: 0 1em;
}

.row1,
.row2 {
  display: flex;
  justify-content: center;
}

.icon {
  width: 2.5em;
  height: auto;
  margin: 0 0 0 0.5em;
}

.light-basic-modal,
.dark-basic-modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--secondary);
  padding: 2em;
  width: 80%;
}

.light-basic-modal h3,
.dark-basic-modal h3 {
  position: sticky;
  left: 0;
}

.light-basic-modal {
  background-color: var(--light);
  color: var(--dark);
}

.dark-basic-modal {
  background-color: var(--dark);
  color: var(--light);
}

.button-container {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
}

.button-container {
  p {
    align-self: center;
    font-size: 1.2em;
  }
  span {
    align-self: center;
    font-size: 1.2em;
  }
}

#card-form-light,
#card-form-dark {
  background: rgba(0, 0, 0, 0.05);
  max-width: 30em;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 2em 2em;
  border-radius: 10px;
  position: relative;
}

#card-form-dark {
  background-color: rgba(247, 247, 247, 0.2);
  p {
    color: white;
  }
}

.card-holder,
.card-number,
.cvv-number {
  padding: 1em 1em;
  border-radius: 0.4em;
  width: 100%;
  background-color: white;
}

.payment-container {
  margin-top: 8em;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

#payment-card-light, #payment-card-dark {
  height: 12em;
  width: 20em;
  position: absolute;
  top: -5em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  transition: all 1s ease;
  color: var(--light);
  text-shadow:
    1px 2px rgba(0, 0, 0, 0.3),
    1px 2px rgba(0, 0, 0, 0.3),
    1px 2px rgba(0, 0, 0, 0.3),
    1px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(1px 3px 10px var(--light));
  animation: fadeIn 0.5s linear;
}

#payment-card-light {
  background-image: url("https://images.unsplash.com/photo-1552083974-186346191183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  transition: all 1s ease;
  color: var(--dark);
  text-shadow:
  1px 1px var(--light),
  1px 1px var(--light),
  1px 1px var(--light),
  1px 1px var(--light);
  filter: drop-shadow(1px 3px 10px var(--dark));
}

.sticker {
  width: 2.6em;
  height: 2.4em;
  background: rgb(92, 92, 92);
  background: linear-gradient(145deg, rgba(92, 92, 92, 1) 0%, rgba(161, 161, 161, 1) 35%, rgba(223, 222, 222, 1) 100%);
  border-radius: 0.4em;
  border: 1px solid var(--secondary);
}

.card-body-dark, .card-body-light {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  text-shadow:
  1px 2px rgba(0, 0, 0, 0.3),
  1px 2px rgba(0, 0, 0, 0.3),
  1px 2px rgba(0, 0, 0, 0.3),
  1px 2px rgba(0, 0, 0, 0.3);
}

.card-body-light {
  color: var(--dark);
  text-shadow:
  1px 1px var(--light),
  1px 1px var(--light),
  1px 1px var(--light),
  1px 1px var(--light);
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.card-number {
  padding: 1em 1em;
  border-radius: 0.2em;
  width: 100%;
  font: message-box;
  height: 2.5em;
  border: 1px solid rgba(0, 0, 0, 0.23);
  ::placeholder {
    color: rgba(0, 0, 0, 0.35);
  }
  :hover {
    border: 1px solid var(--dark) !important;
  }
}

input.card-number:focus {
  outline: none;
  border: 2px solid var(--tertiary) !important;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice span {
  font-size: 1em;
}

.content {
  display: inline-flex;
  padding: 0.5em;
  margin: 1em 1em;
  font-size: 1.1rem;
  line-height: 1.1;
}

.pie-chart {
  min-width: 30em !important;
  margin: 2em 0 2em 0;
}

.doughnut-chart {
  min-width: 42em !important;
  margin: 2em 0 2em 0;
}

.first-line {
  margin-top: 2em !important;
}

.last-line {
  margin-bottom: 2em !important;
}

.paragraph {
  padding: 0.5em 0;
}

img.logo {
  width: 5em;
  height: auto;
  :hover {
    transform: scale(1.05);
  }
}

.link-logo {
  margin-left: 1em;
}

.main {
  margin: 1em 1em 1em 3em;
  padding: 2em;
  border: 2px solid var(--secondary);
  width: 75vw;
}

.movie-genre,
.movie-country,
.movie-year {
  background-color: var(--light);
  color: var(--dark);
  width: 16em;
  margin: 1em 2em 0 0;
}

.exp-month,
.exp-year {
  background-color: var(--light);
  color: var(--dark);
}

.movie-container {
  display: flex;
}

.movie-search,
.city-search {
  color: var(--dark) !important;
  width: 25em;
  margin: 4em 0 2em 0;
  input {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
  }
  div {
    background-color: white !important;
    margin-right: 1em;
  }
}

.card-form {
  margin: 1em 0;
}

.card-type {
  display: flex;
}

.card-type-logo {
  width: 5em;
  height: auto;
  margin: 2em 1em 8em 1em;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: none !important;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid var(--tertiary) !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: .5em !important;
}

.sidebar {
  line-height: 3em;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}

.search-button,
.submit-button {
  width: 8em;
  height: auto;
  font-weight: bold !important;
}

.submit-button {
  margin: 2em 0 0 0 !important;
  align-self: center;
}

.title-input {
  margin: 0.6em 0;
  color: var(--primary);
}

.weather {
  display: flex;
  align-items: center;
}

.weather-info {
  margin: 1em 2em 1em 0;
  p {
    margin: 0.5em 0;
  }
}

.weather-summary {
  font-size: 1.2em;
  font-weight: bold;
}

.under-construction {
  font-size: 0.6em;
  font-weight: normal;
}

/* --------------------------------------- table --------------------------------------- */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 4em 0 2em 0;
}

thead {
  tr th {
    text-align: left;
    border-bottom: 2px solid var(--secondary);
  }
  button {
    border: 0;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5em;
    margin-bottom: 1px;
    background: none !important;
  }
  button:hover {
    cursor: pointer;
  }
  button.ascending::after {
    content: '👇';
    display: inline-block;
    margin-left: 0.5em;
  }
  button.descending::after {
    content: '☝️';
    display: inline-block;
    margin-left: 0.5em;
  }
}

tbody {
  td {
    padding: 0.6em;
    border-bottom: 1px solid var(--secondary);
    font-size: 16px;
  }
  tr:hover {
    background-color: rgba(143, 143, 143, 0.2);
  }
}

/* --------------------------------------- media queries --------------------------------------- */

@media only screen and (max-width: 1380px) {

  .light-basic-modal,
  .dark-basic-modal {
    overflow-x: scroll;
    display: inline-grid;
  }

  .movie-container {
    display: flex;
    flex-direction: column;
  }
}

/* --------------------------------------- keyframes --------------------------------------- */

@keyframes fadeIn {
  from {
    top: -4em;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}