:root {
  --primary: #000000; /* (0, 0, 0) */
  --secondary: #8f8f8f; /* (143,143,143) */
  --tertiary: #1976d2; /* (25, 118, 210) */
  --dark: #222222; /* (34,34,34) */
  --light: #f7f7f7; /* (247, 247, 247) */
  --warning: #f39c12; /* (243, 156, 18) */
  --danger: #ff1900; /* (255, 25, 0) */
  --react: #61dafb; /* (97, 218, 251) */
  --day: #aad4e6; /* (170, 212, 230) */
  --night: #163681; /* (22,54,129) */
}