@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './Colors.scss';

.custom-list {
  width: 20em;
  height: 34em;
  overflow: auto;
}

.dark-custom-list {
  background-color: rgba(0,0,0, 0.8) !important;
  color: var(--light) !important;
  transition: all 1s ease;
}

.dark-checkbox-list {
  color: var(--light) !important;
}

.done-list span {
  text-decoration: line-through 2px solid red !important;
}

.light-custom-list {
  background-color: white !important;
  color: var(--dark) !important;
  transition: all 1s ease;
}