@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './Colors.scss';

.all-quiz-btn {
  display: inline-flex;
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
}

.questions-box {
  width: 54em;
  border: 2px solid rgba(143,143,143, 0.5);
  padding: 1em;
  border-radius: 0.6em;
  h4 {
    margin-bottom: 2em;
  }
  p.question-ask {
    margin-bottom: 1em;
  }
  .current-score {
    font-size: 1.2em;
    margin-top: 3em;
    font-weight: bold;
  }
  .current-score-dark {
    color: var(--day);
  }
  .current-score-light {
    color: var(--night);
  }
}

.correct, .selected {
  cursor: default;
}

.final-score {
  font-size: 1.2em;
  font-weight: bold;
}

.final-score-dark {
  color: var(--day);
  .result-reaction {
    color: var(--light);
  }
}

.final-score-light {
  color: var(--night);
  .result-reaction {
    color: var(--dark);
  }
}

.questions-list {
  list-style: none;
  li {
    margin: 0.2em 0;
    padding: 0.5em;
    width: max-content;
  }
  li:hover {
    cursor: pointer;
    background-color: rgba(143,143,143, 0.5);
    font-weight: bolder;
  }
}

.questions-list li.correct {
  background-color: rgba(0, 255, 21, 0.8);
}

.questions-list li.selected:not(correct) {
  background-color: rgba(255, 25, 0, 0.8);
}

input.quiz-option, select.quiz-option {
  color: var(--dark) !important;
  width: 14em !important;
  min-height: 38px !important;
  margin: 0.5em 2em 2em 0 !important;
  padding: 2px 8px !important;
  font-size: 1em !important;
  border: 1px solid hsl(0, 0%, 80%) !important;
  border-radius: 4px !important;
}

.fetch-btn {
  margin: 2em 2em 0 0 !important;
}

